page-signin {
    .myview {
        background-image: url('../assets/imgs/fundo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loginputs{
        background-color:transparent;
       color:gray;
    }
    
}
